body{
    margin-top: 75px;
}
.thumb-img{
    width: 80px;
    height: 80px;
}
#grid-container{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-bottom: 50px;
}
.add-row{
    position: absolute;
    bottom:0;
    left:25px;
    color: #00a378;
    font-size: 24px;
    border: none;
    background: none;
}
.add-col{
    position: absolute;
    top: 25px;
    right: 0;
    color: #00a378;
    font-size: 24px;
    border: none;
    background: none;
}
.tiny-input{
    width: 70px;
    height: 30px;
    font-size: 24px;
}
.radio-box{
    background: #ccc;
    padding: 20px;
    margin: 10px;
}


ul.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.flex-container li{
    display: flex;
    flex-grow: 0;
    height: 80px;
    color: #000;
    font-size: 2.2em;
    font-style: italic;
    text-align: center;
    width: 80px;
}
.center-item{
    margin: auto;
}
.left-border{
    border-left: 1px solid #ccc;
    min-height: 500px;
}
.remove-btn{
    font-size: 18px;
}
.remove-btn:hover{
    cursor: pointer;
    color: crimson;
}


.add-img-btn{
    font-size: 24px;
}
.add-img-btn:hover{
    cursor: pointer;
    color: cornflowerblue;
}

/*ANIMATIONS*/
.fade-enter{
    opacity: 0;
}

.fade-enter-active{
    opacity: 1;
    transition: .5s ease-in all;
}

.fade-leave{
    opacity: 1;
    transform: scale(1,1);
}

.fade-leave-active{
    opacity: 0;
    transform: scale(0.7,0.7);
    transition: .2s ease-out all;
}